command = /opt/homebrew/bin/fish
shell-integration = fish

# --- Window Configuration ---
window-width = 288
window-height = 76
window-padding-x = 15
window-padding-y = 15

# --- Appearance & Effects ---
background-opacity = 0.95
background-blur-radius = 64
background-blur = true
scrollback-limit = 100000

# --- Color Scheme ---
background = #14191f
foreground = #dcdcdd
cursor-color = #ffffff
cursor-text = #000000
selection-background = #5689b9
selection-foreground = #000000

# --- Terminal Color Palette ---
# Normal colors
palette = 0=#464749
palette = 1=#c64059
palette = 2=#039696
palette = 3=#f4c988
palette = 4=#5689b9
palette = 5=#9a338e
palette = 6=#85bbd8
palette = 7=#c7c7c7

# Bright colors
palette = 8=#7d7e7f
palette = 9=#c6516a
palette = 10=#4daba9
palette = 11=#e7ac76
palette = 12=#7ea7d7
palette = 13=#a95a8f
palette = 14=#a6c7dd
palette = 15=#ffffff 
